#Descartar el archivo Jenkinsfile
#Jenkinsfile

#para descartar todos los archivos de la carpeta db (Base de datos)
db/*

#para no ignorar la carpeta así como el archivo .gitkeep pero si los demás archivos
!db/.gitkeep