body{
	background: url(../img/fontindex.png);
	-webkit-background-size: 100%;
	background-size: 100% 100%;
	background-attachment: fixed;
}

.container{
	padding: 80px;
}

.card{
	font-family: Maiandra GD;
}

.card{
	background: #fff;
	border-top: none;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
	border-radius: 5px;
}